<% provide(:title, t(".name")) %>
<h1><%= t(".name") %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t(".rails_link"), t(".rails_url")%>
  <%= t(".is_a")%>
  <%= link_to t(".rails_link_book"), t(".rails_link_url_book") %>
  <%= t(".and")%>
  <%= link_to t(".screencasts"), t(".rails_link_url_screencasts") %>
  <%= t(".to teach web development with")%>
  <%= link_to t(".rails_link"), t("rails_url") %>
  <%= t(".end") %>
</p>