<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".p1") %>
  <%= link_to t(".rails_link_help"), t(".rails_url_help") %>
  <%= t(".p2") %>
  <%= link_to t(".rails_link_book"), t(".rails_url_book") %>
</p>