<footer class="footer">
  <small>
    <%= raw t ".link_new1" %>
    <%= raw t ".link_new2" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= raw t ".link_new3" %></li>
    </ul>
  </nav>
</footer>

